<!DOCTYPE html>
<html>
<head>
<title>All book list page</title>
</head>
<body>
<form method="post" action="/logout">
<button type="submit">Logout</button>
</form>
<form method="get" action="/books">
<button type="submit">All Books</button>
</form>
<form method="get" action="/books/reversed">
<button type="submit">All Books Reversed</button>
</form>
<form method="get" action="/books/create">
<button type="submit">Book Create</button>
</form>
<form method="get" action="/journals">
<button type="submit">All Journals </button>
</form>
<form method="get" action="/journals/reversed">
<button type="submit">All Journals Reversed</button>
</form>
<form method="get" action="/journals/create">
<button type="submit">Create journal</button>
</form>
</body>
</html>